<div class="main-content">
   <section class="home section">
      <div class="containe">
         <div class="row">
            <div class="home-info col-md-7 padd-15 .margin-b mb-5">
               <h3 class="hello">Hello, my name is <span class="name" >Hussein Alzeer </span></h3>
               <h3 class="my-profession">and I am a <span class="typing">Front-End Developer</span></h3>
               <p> <span class="dote"> “</span> You should set goals beyond your reach, so you always have something to live for. <span class="dote"> “</span> —Ted Turner</p>
            </div>

            <div class="home-img col-md-5">
               <img src="../../assets/Screenshot (216).png" alt="">
            </div>
         </div>
      </div>
   </section>
</div>